site_name: "Brielle's Open Science Resources"
theme:
  name: material

nav:
  - Home: index.md
  - About: about.md
  - Open Science Methods:
      - Creating a DMP: open-science/dmp.md
      - Creating Your Own Website: open-science/website.md

# Plugins
plugins:
  - search

# Markdown extensions
markdown_extensions:
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
